/* Login.css */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff; /* Optional, you can change it to a plain color or keep it transparent */
}

.login-container.no-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  width: 350px;
  text-align: center;
}

.login-header {
  margin-bottom: 20px;
}

.login-icon {
  width: 80px;
  margin-bottom: 10px;
}

.login-header h2 {
  color: #333333;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.login-header p {
  color: #666666;
  font-size: 0.9rem;
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form label {
  display: block;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 1rem;
}

.login-btn {
  background-color: #6a11cb;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #2575fc;
}

.login-card {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.signup-link {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.link {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}